.deco-cloud {
  position: absolute;
  top: 40px;
  left: 60px;
  font-size: 60px;
  opacity: 0.3;
  z-index: 1;
}

.deco-star {
  position: absolute;
  top: 80px;
  right: 100px;
  font-size: 50px;
  opacity: 0.4;
  z-index: 1;
}

.deco-tree {
  position: absolute;
  bottom: 60px;
  left: 80px;
  font-size: 70px;
  opacity: 0.25;
  z-index: 1;
}

.deco-flower {
  position: absolute;
  bottom: 100px;
  right: 120px;
  font-size: 55px;
  opacity: 0.3;
  z-index: 1;
}
